body {
}

table {
  border-collapse: collapse;
  width:100%;
}

td, th {
  font-size: small;
  background-color: #f3f3f3;
  padding: 8px;
  border-bottom: #cccccc thin solid;
  vertical-align: top;
}

tr {
  background-color: #65cdff;
  xopacity: 1;
}

table tr:hover td {
  background-color: #fafafa;
}

th {
  z-index: 10;
  position:sticky;
  top: 0;
  text-align: left;
  background-color: #65cdff;
  white-space: nowrap;
  xcolor: blue;
  font-weight: 500;

}

.pam-table-title {
    color: blue;
    font-size: large;
    font-weight: 300;
    white-space: normal;
}

.pam-error {
  font-size: small;
  padding-left:8px;
}

.pam-padding {
  padding-left:8px;
  padding-right:8px;

}

.pam-study-spacer {
  height:20px;
}

.pam-wrapper {
  position: absolute; top:0; bottom:0; left:0; right:0;
  display: flex; flex-direction: column; min-height: 0;
  padding: 0px;
  background-color: #ffffff;
}

.pam-debug {
  font-size: 8px;
  padding-left:8px;
  #display:none;
}

h3 {
  padding-left:8px;
}
.toto {
  color: #000088;
  background-color:#ff00ff;
}

.pam-header {
  margin: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #000000;
  color:#ffffff;
  font-weight: bold;
  #text-align: center;
}

.pam-nav {
  margin: 1px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #000000;
}

.pam-nav-text {
  color: #65cdff;
  font-weight: bold;
}

.pam-link {
  color: #65cdff;
}

.pam-link-current {
  background-color: #65cdff;
  color: black;
}

.pam-link-disabled {
  color: white;
  cursor: not-allowed;
  text-decoration: none;
}

.pam-main {
  margin: 1px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #f3f3f3;
  flex-grow: 1;
  display: flex; flex-direction: column; min-height: 0;
}

.pam-footer {
  margin: 1px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #000000;
  color:#ffffff;
  font-size: x-small;
  text-align: center;
}

.pam-query-string {
  font-size: x-small;
  font-weight: normal;
}

.pam-flex-wrapper {
  display: flex; flex-direction: column; min-height:0;
  flex-grow: 1;
  padding: 0px;
}

.pam-flexible {
  flex-grow: 1;
  overflow-y: scroll;
  min-height:0;
}

.pam-bar-container {
  display: flex; flex-direction: row; min-width: 0;
  max-height:100%;
  flex-grow: 1;
}

.pam-border { border-style: solid; }

.pam-gender-bar { max-height:100%; max-width:19%; border-style: solid; border-width: 1px; padding: 4px;}
.pam-age-bar    { max-height:100%; max-width:19%; border-style: solid; border-width: 1px; padding: 4px;}
.pam-weight-bar { max-height:100%; max-width:19%; border-style: solid; border-width: 1px; padding: 4px;}

.pam-flex-x-container { display: flex; flex-direction: row;    min-width:  0; }
.pam-flex-y-container { display: flex; flex-direction: column; min-height: 0; }
.pam-flex-x-content   { flex-grow: 1; overflow-x: auto; min-width: 0; }
.pam-flex-y-content   { flex-grow: 1; overflow-y: auto; min-height:0; }

.pam-padding-bottom { padding-bottom: 4px; }

.pam-action-button {
  width: fit-content;
  align-self: end;
}

.tooltip {
  position: relative;
}


.tooltip .tooltiptext {
  border-color: #cccccc;
  border-width: thin;
  border-style: solid;
  border-radius: 2px;


  background-color: #fafafa;
  color: #black;

  padding: 8px;
  overflow: auto;

  position: absolute;
  width: inherit;
  max-height: 240px;
  top: -6px;
  left: -8px;
  display: none;
}

.tooltip:hover .tooltiptext {
  z-index: 1;
  display: block;
}

/* ----------------------------------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mydiv {
  border-style: solid;
  border-width: thin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
