body {
}

.pam-wrapper {
  position: absolute; top:0; bottom:0; left:0; right:0;
  display: flex; flex-direction: column; min-height: 0;
  padding: 0px;
  background-color: #ffffff;
}

.pam-debug {
  font-size: 8px;
  display:none;
}

.toto {
  color: #000088;
  background-color:#ff00ff;
}

.pam-header {
  margin: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #000000;
  color:#ffffff;
  font-weight: bold;
  #text-align: center;
}

.pam-nav {
  margin: 1px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #000000;
}

.pam-nav-text {
  color: rgb(97, 218, 251);
  font-weight: bold;
}

.pam-link {
  color: rgb(97, 218, 251);
}

.pam-link-current {
  background-color: rgb(97, 218, 251);
  color: black;
}

.pam-link-disabled {
  color: white;
  cursor: not-allowed;
  text-decoration: none;
}

.pam-main {
  margin: 1px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #f3f3f3;
  flex-grow: 1;
  display: flex; flex-direction: column; min-height: 0;
}

.pam-footer {
  margin: 1px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #000000;
  color:#ffffff;
  font-size: x-small;
  text-align: center;
}

.pam-query-string {
  font-size: smaller;
  font-weight: normal;
}
.pam-cell-div {
  height: auto;
  white-space: normal;
}

.pam-flex-wrapper {
  display: flex; flex-direction: column; min-height:0;
  flex-grow: 1;
  padding: 0px;
}

.pam-flexible {
  flex-grow: 1; overflow-y: scroll;
  min-height:0;

}

/* ----------------------------------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mydiv {
  border-style: solid;
  border-width: thin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
